@font-face {
  font-family: MontserratRegular;
  src: url('../../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MontserratBold;
  src: url('../../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: MontserratItalic;
  src: url('../../fonts/Montserrat-Italic.ttf');
}

@font-face {
  font-family: YuGothicBold;
  src: url('../../fonts/YuGothic-Bold.ttf');
}

@font-face {
  font-family: YuGothic;
  src: url('../../fonts/YuGothic.ttf');
}